name: Deploy to GitHub Pages

on:
  push:
    branches: ["web"]
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: true

jobs:
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4 
        with: 
          ref: web
        
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          ref: web
          node-version:  20
          cache: 'npm'
          
      - name: Install dependencies
        run: npm install
        
      - name: Build
        run: npm run build
        
      - name: Setup Pages
        uses: actions/configure-pages@v5
        with:
          ref: web
        
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          ref: web
          path: 'dist'
          
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
        with:
          ref: web
